# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCc31YW2wZkiIa_tWDYpd5WVSaM0e__w6w
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0757726878.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0757726878
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0757726878.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=538207018013
VITE_FIREBASE_APP_ID=1:538207018013:web:89b732fa24ddd604e0faf4
VITE_FIREBASE_FIRESTORE_DATABASE_ID=gen-lang-client-0757726878
VITE_FIREBASE_MEASUREMENT_ID=G-GFD0Q0426N

# AI & Other
GEMINI_API_KEY=

# BunnyCDN Storage Configuration
BUNNY_STORAGE_ZONE=cutscene-storage
BUNNY_ACCESS_KEY=8a3acd40-3ec5-46a4-a3d281fc6d40-9ec4-4e8a
BUNNY_STORAGE_REGION=
BUNNY_PULL_ZONE=cutscenedz.b-cdn.net
