# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCc31YW2wZkiIa_tWDYpd5WVSaM0e__w6w
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0757726878.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0757726878
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0757726878.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=538207018013
VITE_FIREBASE_APP_ID=1:538207018013:web:89b732fa24ddd604e0faf4
VITE_FIREBASE_FIRESTORE_DATABASE_ID=gen-lang-client-0757726878
VITE_FIREBASE_MEASUREMENT_ID=G-GFD0Q0426N

# Chargily Payment Gateway
CHARGILY_PUBLIC_KEY=test_pk_22Ca8q6glYSIGmtXiN6IrJ6HLKw79DI2PniChwHd
CHARGILY_SECRET_KEY=test_sk_Z5rLxmLCN7e24uCkh4wYbxd9f9OvWUiuV7XYS9mc

# Sanity CMS
VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2024-04-12

# AI & Other
GEMINI_API_KEY=
